<header class="list-header">
  <h3>Welcome {{username}}!</h3>
  <nav>
    <a href="/auth/home/{{id}}">
      <box-icon name='search-alt' class="search-alt" color="var(--lightest)"></box-icon>
    </a>

    {{#if isLoggedIn}}
    <a href="/auth/logout">
      <box-icon name='log-out-circle' color="var(--lightest)" id="logout" class="bx-rotate-90"></box-icon>
    </a>
    {{else}}
    <a href="/auth/login">
      <box-icon name='log-in-circle' class="bx-rotate-90" color="var(--lightest)"></box-icon>
    </a>
    {{/if}}
  </nav>
</header>

{{#if isLoggedIn}}
<section class="reading-list">
  <h1 class="list-title">My Reading List</h1>
  <div class="list-container">
    {{#each list}}
    <div class="single-book-on-list">
      <h2>{{this.title}}</h2>
      <p>{{this.author}}</p>
      <div class="list-icon-div">
          <box-icon class="list-remove hide-me" name='x-circle' color="var(--darkest)" bookid="{{this._id}}"></box-icon>
        </div>
    </div>
    {{/each}}
  </div>
</section>
{{else}}
<p>Please login to view your reading list.</p>
{{/if}}
