<header class="results-header">

    <div class="title-results">
        <h1>BookLook</h1>
        <box-icon name='search-alt' size="lg" class="search-alt" color="var(--darkest)"></box-icon>
    </div>

    <nav class="git-nav">

        {{#if isLoggedIn}}

        <a href="/auth/home/{{userId}}">
            <box-icon name='search-alt' class="search-alt" color="var(--darkest)"></box-icon>
        </a>

        <a href="/auth/user/{{userId}}">
            <box-icon name='list-ol' class="list-ol" color="var(--darkest)"></box-icon>
        </a>

        <a href="/auth/logout">
            <box-icon name='log-out-circle' color="var(--darkest)" id="logout" class="bx-rotate-90"></box-icon>
        </a>

        {{else}}

         <a href="/auth/login">
            <box-icon name='log-in-circle' class="bx-rotate-90" color="var(--darkest)"></box-icon>
        </a>

        {{/if}}

    </nav>

</header>

{{#if isLoggedIn}}

<div class="results-container">
    <div class="single-result single-result-logged-in" key="{{key}}">
        <h2 class="single-title">{{title}}</h2>
        <h3 class="single-author">{{author}}</h3>
        
        <div class="list-icon-div">
          <box-icon class="list-plus" name='plus-circle' color="var(--lightest)"></box-icon>  
          <box-icon class="list-remove hide hide-me" name='x-circle' color="var(--lightest)" ></box-icon>
        </div>
    <p class="error">{{error}}</p>

    </div>

</div>    
    
 {{else}}

<div class="results-container">
    <div class="single-result" key="{{key}}">
        <h2 class="single-title">{{title}}</h2>
        <h3 class="single-author">{{author}}</h3>
    </div>

</div>    

    <p class="login-register-to-add">
        <a href="/auth/login">Login</a> or <a href="/auth/register">Register</a> <br> to add this book to your reading list!
    </p>
        
    {{/if}}

</div>